*{
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
}

#titleScreen{
  background-image: url('images/background.jpeg');
position: absolute;
visibility: visible;
width: 100%;
height: 100%;
}
#title{
  text-align: center;
}
#titleimg{
  text-align: center;
}

.button{
  cursor: pointer;
  height: 100px;
  width: 300px;
  text-align: center;
  border: solid red 10px;
  margin-left: 800px;
  margin-bottom: 100px;
  padding-top: 20px;
}

#rulesScreen{
  background-image: url('images/background.jpeg');
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#rtitle{
  text-align: center;
  font-size: 85px;
}
#rule-list{
  font-size: 60px;
  margin-left: 60px;
}
li {
  padding: 25px;
}

#selectScreen{
  background-image: url('images/background.jpeg');
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
#ptitle{
  text-align: center;
}
#blueSelect{
  cursor: pointer;
  height: 300px;
  width: 300px;
  text-align: center;
  border: solid blue 10px;
  display: inline-block;
  margin-left: 535px;
  margin-top: 350px; 
  background-color: blue;
}
#redSelect{
  margin-left: 200px;
  cursor: pointer;
  height: 300px;
  width: 300px;
  text-align: center;
  border: solid red 10px;
  display: inline-block;
  background-color: red;
}

#gameScreen{
  background-image: url('images/background.jpeg');
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#p1deck{
  height: 400px;
  width: 260px;
  background-image: url('images/blue_back.png');
  background-size: cover;
  margin-left: 1660px;
  margin-top: -150px;
}

#p2deck{
  height: 400px;
  width: 260px;
  background-image: url('images/red_back.png');
  background-size: cover;
 
}

#p2slot{
margin-left: 600px;
background-image: url(images/red_back.png) ;
}

#p1slot{
background-image: url(images/blue_back.png) ;  
}

.slot{
  height: 400px;
  width: 260px;
  border: solid yellow 10px;
  display: inline-block;
  margin-left: 200px;
  margin-top: -100px;
  background-size: cover;
}

.scoreTitle{
  font-size: 60px;
}

.scoreNumber{
  font-size: 120px;
}

